@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --nav-color: #495057;
  --app-color: #212529;
  --cold-off-white: #f1faee;
}
* {
  font-family: "Philosopher", sans-serif;
  color: var(--cold-off-white);
}
body {
  margin: 0%;
  background-color: var(--app-color);
}
#nav-bar {
  background-color: var(--nav-color);
  padding: 1rem;
  font-weight: 500;
}
.nav-links {
  text-decoration: none;
  margin: 1.1vw;
  padding: 0 0.2rem 0.3rem 0.2rem;
  
}
.active{
    border-bottom: 2px solid var(--cold-off-white);
    border-radius: 0.5rem;
    font-weight: 600;
}
#app-container {
  margin: auto;
  width: 50vw;
  max-width: 500px;
}
h1,
#output {
  text-align: center;
}
#formula {
    border: 3px solid var(--cold-off-white);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 20px;
    font-size: x-large;
    letter-spacing: 0.2rem;
    text-align: center;
    width: 50vw;
    max-width: 495px;
}
.label-block {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.input-block {
  display: block;
  margin: auto;
  border: none;
  width: 50vw;
  max-width: 500px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 20px;
  color: var(--app-color);
}
button {
  display: block;
  background-color: var(--nav-color);
  border: none;
  margin: 30px auto;
  max-width: 100px;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.left-align {
  text-align: left;
}
#output {
  background-color: var(--cold-off-white);
  color: var(--app-color);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 45vw;
  max-width: 480px;
  font-weight: bolder;
}


